<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519570159813-ilsa88m5ju7b9i66s1snf47hctp86gmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519570159813-ilsa88m5ju7b9i66s1snf47hctp86gmb</string>
	<key>API_KEY</key>
	<string>AIzaSyDdS2GgZaVvGRhj-C8f4Nc12igVIKCX0q0</string>
	<key>GCM_SENDER_ID</key>
	<string>519570159813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jotanji.RilinkShop</string>
	<key>PROJECT_ID</key>
	<string>rilinkshop</string>
	<key>STORAGE_BUCKET</key>
	<string>rilinkshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519570159813:ios:cb97d58f8d6ecbc62d98ac</string>
</dict>
</plist>